<a href="https://colab.research.google.com/github/divassya/BigDataAnalysis/blob/main/Colab_Spark_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Spark installation on Colab
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
# !wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
# !tar xf spark-3.0.1-bin-hadoop3.2.tgz
# !pip install -q findspark
# !rm -rf spark-3.0.1-bin-hadoop3.2.tgz

!pip install --ignore-installed -q pyspark==3.1.2

     |████████████████████████████████| 212.4 MB 62 kB/s
     |████████████████████████████████| 198 kB 44.6 MB/s
  Building wheel for pyspark (setup.py) ... done

In [ ]:
# Set JAVA_HOME and SPARK_HOME
import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
# os.environ["SPARK_HOME"] = "spark-3.0.1-bin-hadoop3.2"

# import findspark
# findspark.init("spark-3.0.1-bin-hadoop3.2")# SPARK_HOME


import sys
import requests
from operator import add

from pyspark import SparkConf,SparkContext
from pyspark.streaming import StreamingContext

from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

from pyspark.sql.types import *
from pyspark.sql import functions as func
from pyspark.sql.functions import *

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [ ]:
ls -lah

In [4]:
ls -la sample_data

total 55512
drwxr-xr-x 1 root root     4096 Sep 14 13:44 ./
drwxr-xr-x 1 root root     4096 Sep 14 13:44 ../
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json*
-rw-r--r-- 1 root root   301141 Sep 14 13:44 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Sep 14 13:44 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Sep 14 13:44 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Sep 14 13:44 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md*

In [5]:
rdd1 = sc.parallelize(range(1, 10))
rdd1.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
californiaHousing = sc.textFile("./sample_data/california_housing_test.csv")
californiaHousing.take(2)

['"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"',
 '-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000']

In [7]:
data = [(0,'James','Smith','CS767',93),
  (1,'Michael','Rose','MA582',85),
  (2,'Robert','Williams','CS767',90),
  (3,'Maria','Jones','CS777',75),
  (4,'Jen','Brown','CS779',80),
  (0,'James','Smith','CS555',80),
  (1,'Michael','Rose','CS555',100)
]

columns = ['id',"firstname","lastname","coursenumber","grade"]
df = spark.createDataFrame(data=data, schema = columns)

In [8]:
df.show()

+---+---------+--------+------------+-----+
| id|firstname|lastname|coursenumber|grade|
+---+---------+--------+------------+-----+
|  0|    James|   Smith|       CS767|   93|
|  1|  Michael|    Rose|       MA582|   85|
|  2|   Robert|Williams|       CS767|   90|
|  3|    Maria|   Jones|       CS777|   75|
|  4|      Jen|   Brown|       CS779|   80|
|  0|    James|   Smith|       CS555|   80|
|  1|  Michael|    Rose|       CS555|  100|
+---+---------+--------+------------+-----+